div.riskSelectorContainer {
  padding: 0 24px;

  div.headerLabels {
    text-align: center;

    p.labelSelect {
      font-size: 20px;
      font-weight: 600;
    }

    div.levels {
      width: 640px;

      div.low {
        text-align: left;
      }

      div.high {
        text-align: right;
      }
    }
  }

  div.riskSelector {
    margin-bottom: 20px;

    ul.riskSelectorUl {
      display: flex;
      justify-content: center;
      margin: 0;
      padding: 0;
      border: none;

      li {
        width: 60px;
        height: 60px;
        box-sizing: border-box;
        background-color: white;
        display: flex;
        justify-content: center;
        align-items: center;
        color: black;
        border: 2px solid black;
        border-radius: 5px;
        margin: 2px;
        font-size: 28px;
        cursor: pointer;
        word-break: initial;

        &.selected {
          background-color: rgb(230, 255, 63);
        }
      }
    }
  }

  div.tableContainer {
    margin-bottom: 20px;

    table.table {
      background-color: white;
      margin: auto;
      border-spacing: 0;
      width: unset;

      th, td {
        border: 1px solid #f3f3f3;
      }

      tr.selected {
        background-color: rgb(230, 255, 63);
      }

      th {
        width: 128px;

        &:first-of-type {
          width: 64px;
        }
      }

      td {
        text-align: center;
      }
    }

    svg {

      text {
        z-index: 10;
      }

      path {
        z-index: -2;
      }
    }
  }

  div.buttons {
    max-width: 640px;
    margin: auto;
  }
}